<div class="col-sm-4">
<form #f="ngForm" (ngSubmit)="onSubmit()" validate>
<div class="form-group">
	<label >Start Inscription:</label>
  	<input type="date" class="form-control" placeholder="Start Ins" required
  			[(ngModel)]="startIns" [ngModelOptions]="{standalone: true}">

	<label >End Inscription:</label>
  	<input type="date" class="form-control" placeholder="Start Ins" required
  			[(ngModel)]="endIns" [ngModelOptions]="{standalone: true}">


	<label >Start Tournament:</label>
  	<input type="date" class="form-control" placeholder="Start Ins" required
  			[(ngModel)]="startTour" [ngModelOptions]="{standalone: true}">

	<label >End Tournament:</label>
  	<input type="date" class="form-control" placeholder="Start Ins" required
  			[(ngModel)]="endTour" [ngModelOptions]="{standalone: true}">
</div>
	


	<button type="submit" class="btn btn-lg btn-block btn-primary" > Create Tournament
	</button>
</form>
</div>