

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Torni-Juegos</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav" *ngIf="loginTerminated">
        <li><a routerLink="/usermanager"> User Control </a></li>
        <li><a routerLink="/gamemanager"> Game Control </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="loginTerminated">
        <li><a> Hello {{name}}!</a></li>
    </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-sm-2" *ngIf="!loginTerminated" style="margin-left: 200px;">
  <div class="panel panel-primary">
    <div class="panel-heading">Welcome to Torni-Juegos</div>
    <div class="panel-body"> <p>Esto es un panel de prueba.<br/><br/>  Bienvenidos a la Web de Torni-Juegos. Aqui encontraras los mejores torneos para tus juegos favoritos. No te decepcionará.<br/><br/> Rajoy cabron !!</p> </div>
  </div>
</div>

<div class="col-sm-8" *ngIf="!loginTerminated">
  <app-login-manager (userLogged)="onUserLogged($event)"  *ngIf="!loginTerminated">
  </app-login-manager>


<app-register-user-manager *ngIf="!loginTerminated">
</app-register-user-manager>
</div>



<router-outlet></router-outlet>