
<div class="panel panel-primary" 
	style="margin-top: 50px;
	margin-right: 200px;
	margin-left: 200px;">
    <div class="panel-heading">Welcome to Torni-Juegos</div>
    <div class="panel-body"> Hola a Todo el mundo </div>
  </div>

<div class="col-sm-3" >
	<button class="btn btn-lg btn-block btn-primary" *ngIf="userLogged.getRol === 1"
	routerLink="/tournamentmanager/newtournament">
		New Tournament
	</button>

</div>

<div class="col-sm-3">
	<div class="panel panel-primary">
    <div class="panel-heading">List of Tournaments:</div>
	<ul class="list-group users-list">
        <li class="list-group-item" *ngFor="let tournament of tournaments"
            (click)="selectTournament(tournament)"  
            [class.active]="tournament === activeTournament"> >{{ tournament.getName }}
        </li>
	</ul>
	</div>
</div>

<div class="col-sm-3">

		<app-tournament-panel (eventDelete)="deleteTournament()" 
		(eventTournament)="viewMatchs()" [tournament]="activeTournament" [userLogged]="userLogged"></app-tournament-panel>

</div>